* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1024px) {
  /* Styles for larger screens, e.g., desktop */
  body {
    font-size: 16px;
    line-height: 1.6;
  }
}

p {
  font-size: 16px !important;
}
header {
  background-color: #0000;
}
.Topbar {
  background-color: #111111;
  height: 40px;
  padding-top: 7px;
}
.Topbar a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.back-color {
  background-image: url(./Images/main-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 133vh;
  margin-top: -109px;
}
.btn-1 {
  color: #fff;
  background-color: #111111;
  padding: 16px;
  border-radius: 6px;
  border: #111111 1px solid;
  text-decoration: none;
}
.btn-1:hover {
  color: #111111;
  background-color: #fff;
  border: #111111 1px solid;
  transition: 0.3s;
}
.btn-2 {
  font-size: 10px;
  font-weight: 600;
  color: #111;
  background-color: #dcdddf;
  padding: 9px;
  border-radius: 6px;
  border: #dcdddf 1px solid;
  text-decoration: none;
  width: 100px;
  align-self: center;
}
.btn-2:hover {
  color: #fff;
  background-color: #0000;
  border: #fff 1px solid;
  transition: 0.3s;
}
.flex-apply {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}
.back-color h1 {
  font-size: 26px;
  font-weight: 500;
}
.back-color p {
  font-size: 14px !important;
}
#navbarSupportedContent a {
  color: #111111;
  font-weight: 500;
  font-size: 20px;
}
.social {
  background-color: #fff;
  color: #111111 !important;
  padding: 6px 8px;
  border-radius: 26px;
}
.verti-form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  width: 80%;
  border: #111111 1px solid;
}
.text-inp {
  background-color: #fff;
  border: #afafaf 1px solid;
  border-radius: 12px;
  height: 36px;
  padding: 6px;
  width: 49%;
}
.area-inp {
  background-color: #fff;
  border: #afafaf 1px solid;
  border-radius: 12px;
  padding: 6px;
  width: 98%;
}
.verti-form button {
  color: #fff;
  background-color: #111111;
  padding: 6px 16px;
  border-radius: 6px;
  border: #111111 1px solid;
  text-decoration: none;
}
.verti-form button:hover {
  color: #111111;
  background-color: #fff;
  border: #111111 1px solid;
  transition: 0.3s;
}
.right-sec ul li::marker {
  color: #111111;
  content: "\2713"" ";
}
.right-sec ul li {
  font-weight: 600;
}
.divider {
  background-color: #111111;
  height: 3px;
  width: 10%;
  margin: 6px 0px;
  border-radius: 6px;
}
.sec-img {
  width: 550px;
  border-radius: 6px;
  box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
}
.sec-img2 {
  width: 450px;
  border-radius: 6px;
  box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
}
.back-two {
  background-color: #111111;
  color: #acacac;
}
.count {
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  font-style: italic;
}
.foot {
  background-color: #f0f2f3;
}
.foot a {
  color: #111111;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
}
.foot .social {
  font-size: 16px;
  background-color: #111111;
  color: #fff !important;
}
.ter {
  height: 60px;
  background-color: #111111;
}
.ter p {
  font-size: 12px !important;
  color: #fff;
}
.what-we-do {
  /* background: linear-gradient(0deg, #111111b3, #111111ba),
    url("./Images/back-png.png"); */
  color: #fff;
  background-color: #111111;
  background-size: 136%;
  background-position: center;
}
.card-cen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-cen h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
.card-cen h4 {
  font-weight: 600;
  font-size: 16px;
}
.card-cen p {
  font-size: 12px !important;
}
.img-d {
  background-color: #dcdddf;
  border-radius: 6px;
  height: 150px;
  margin: 12px 0px;
}
.img-d img {
  width: 80px;
}
/* .flip-box {
  background-color: transparent;
  width: 300px;
  height: 350px;
  box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 31px -14px rgba(0, 0, 0, 0.75);
  perspective: 1000px;
  border-radius: 6px;
}
.flip-box img {
  width: 80px;
  margin-bottom: 26px;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  border-radius: 6px;
  backface-visibility: hidden;
}

.flip-box-front {
  background-image: radial-gradient(#fff, #999999);
  background-color: #fff;
  color: black;
}
.flip-box-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
}
.flip-box-back h4 {
  font-weight: 600;
  font-size: 14px;
}
.flip-box-back p {
  font-size: 10px;
} */
.animate {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.animate.active {
  opacity: 1;
  transform: scale(1);
}
.compre a {
  font-size: 14px !important;
  color: #000;
  text-decoration: none;
  display: block;
  font-weight: 500;
}
.compre a:hover {
  text-decoration: underline;
}
.compre img {
  width: 50px;
  margin-bottom: 6px;
}
.card1 {
  background-color: #e8e8e8;
  height: 150px;
  width: 150px;
}
.card2 {
  background-color: #fff;
  height: 150px;
  width: 150px;
}
.Choose,
h4,
p {
  position: relative;
  z-index: 9 !important;
}
.self {
  margin-bottom: 50px;
}
.self::before {
  content: "1";
  font-weight: bold;
  color: #e8e8e8;
  font-size: 150px;
  position: absolute;
  top: 90px;
  z-index: 0;
}
.copyrights {
  margin-bottom: 50px;
}
.copyrights::before {
  content: "2";
  font-weight: bold;
  color: #e8e8e8;
  font-size: 150px;
  position: absolute;
  top: 340px;
  z-index: 0;
}
.extensive::before {
  content: "3";
  font-weight: bold;
  color: #e8e8e8;
  font-size: 150px;
  position: absolute;
  top: 580px;
  z-index: 0;
}
.fast {
  margin-bottom: 50px;
}
.fast::before {
  content: "4";
  font-weight: bold;
  color: #e8e8e8;
  font-size: 150px;
  position: absolute;
  bottom: 400px;
  z-index: 0;
}
.approach {
  margin-bottom: 50px;
}
.approach::before {
  content: "5";
  font-weight: bold;
  color: #e8e8e8;
  font-size: 150px;
  position: absolute;
  bottom: 210px;
  z-index: 0;
}
.proven::before {
  content: "6";
  font-weight: bold;
  color: #e8e8e8;
  font-size: 150px;
  position: absolute;
  bottom: 16px;
  z-index: 0;
}
.mac img {
  width: 300px;
}
.bok img {
  width: 160px;
  border-radius: 6px;
  box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.26);
}
.author img {
  width: 12%;
  border-radius: 50%;
}
.author h6 {
  margin-left: 6px;
}
.author h6 span {
  font-size: 12px;
}
.author-rev p {
  font-weight: 500;
  font-size: 12px !important;
}
.carousel-control-prev-icon {
  background-image: url();
}
.carousel-control-next-icon {
  background-image: url();
}
.accordion-item {
  border: 0px #0000 !important;
}
.accordion-button {
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  background-color: #e8e8e8 !important;
  color: #000;
  margin-bottom: 6px;
  border-radius: 6px;
}
.accordion-button:focus {
  border-color: #e8e8e8 !important;
  box-shadow: #000 !important;
}
.accordion-body {
  font-size: 14px;
}
.accordion-button:not(.collapsed) {
  color: #000;
}
@media only screen and (max-width: 600px) {
  .back-color {
    height: 120vh;
    background-position: 60%;
  }
  .back-color h1 {
    font-size: 22px;
    font-weight: 700;
  }
  .back-color p {
    font-size: 14px !important;
    font-weight: 500;
  }
  .Topbar {
    display: none;
  }
  .btn-1 {
    padding: 14px;
    font-size: 12px;
  }
  .verti-form {
    width: 100%;
  }
  .flex-apply {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sec-img {
    width: 350px;
    margin-bottom: 26px;
  }
  .author-rev p {
    margin-top: 26px;
  }
  .sec-img2 {
    width: 330px;
    margin-bottom: 26px;
  }
  .extensive::before {
    font-size: 170px;
    top: 1090px;
  }
  .copyrights::before {
    font-size: 170px;
    top: 760px;
  }
  .self::before {
    font-size: 170px;
    top: 435px;
  }
  .fast::before {
    font-size: 170px;
    bottom: 1045px;
  }
  .approach::before {
    font-size: 170px;
    bottom: 800px;
  }
  .proven::before {
    font-size: 170px;
    bottom: 550px;
  }
}
